%heading {
  font-family: $font-display;
  font-weight: 400;
}
.headnig-1 {
  @extend %heading;
}
.headnig-2 {
  @extend %heading;
}
.headnig-3 {
  @extend %heading;
}
.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}
